doctype html
html
  head
    title= title
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
    script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit", async, defer)
  body
    block content
