doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title= title
    script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit", async, defer)
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
  body
    block content
